
@{
    ViewBag.Title = "UserLogin";
    Layout = null;

}
<html>
<head>
    <meta charset="UTF-8">
    <title>Restaurent - Login Form</title>
    <link rel="stylesheet" href="~/css/style.css" media="screen" type="text/css" />
</head>
<body>
    <span href="#" class="button" id="toggle-login">Log in</span>
    <div id="login">
        <div id="triangle"></div>
        <h1>Log in</h1>
        @*<form action="~/AdminLogin/UserLogin" method="post" class="form-control">
                <input type="text" name="UserName" class="form-control" placeholder="UserName" /><br /><br />
                <input type="text" name="Password" class="form-control"  placeholder="Password"/>
                <input type="Submit" value="Login" class="btn-success" />

            </form>*@
        <form action="~/Admin/UserLogin" method="post">
            <input type="text" placeholder="UserName" name="UserName" style="width:200px;margin-left:75px;height:35px;box-sizing: border-box; padding: 12px 20px;border-radius: 4px" /><br /><br />

            <input type="text" placeholder="Password" name="Password" style="width:200px;margin-left:75px;height:35px;box-sizing: border-box;padding: 12px 20px;border-radius: 4px" " /><br /><br />
            <input type="submit" value="Log in" />
            <label style="color:red;font-weight:100;">@ViewBag.msg</label>
        </form>
    </div>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
    <script src="~/js/index.js"></script>
</body>

</html>



